
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; 
  background-color: #007bff;
  text-align: center;
  color: white;
}

.navbar-custom {
  background-color: #007bff; /* Elige el color azul deseado */
}

.container-scroll {
  max-height: 500px; /* Ajusta la altura según tus necesidades */
  overflow-y: auto;
  padding: 15px; /* Opcional: añade un poco de padding */
  background-color: #f8f9fa; /* Opcional: color de fondo */
  border: 1px solid #ddd; /* Opcional: borde */
  border-radius: 4px; /* Opcional: esquinas redondeadas */
}
